@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

table.basic{
  @apply w-full;
}

table.basic thead tr td {
  @apply bg-[#0b469c];
}

table.basic tr td{
  @apply border p-1 border-[#0a3576];
}

table.basic a{
  @apply bg-[#0a3576] text-white text-sm py-1 px-2 rounded-md inline-flex;
}